.hero {
  min-height: 600px;
  object-fit: cover;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
}
.hero__container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.hero__title {
  text-align: center;
  color: #ff6e00e0;;
}
.hero__text {
  margin: 0;
  color: #ff6e00e0;;
  text-align: center;
  font-size: 28px;
  margin-bottom: 50px;
}
.hero__btn-delivery {
  font-weight: 500;
  font-size: 18px;
  width: 290px;
  height: 60px;
  display: flex;
  margin: 0 auto;
 
  background: #ffa353b5;;
  align-items: center;
  justify-content: center;
  color: rgb(0, 0, 0);
  border-radius: 2px;
  transition: 0.3s ease;
}
.hero__btn-delivery:hover {
  background: #ff6710e6;
  color: #ffffffe6;
}