.galery {
 text-align: center;
}
.galery__image {

}
.dishes__title {
}
.galery__images {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
}

.galery__item {
  flex: 0 0 260px;
  height: 206px;
}
.galery__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
  display: block;
  cursor: zoom-in;
}

@media (max-width: 550px) {
  .galery__item {
    flex: 0 0 380px;
  }
}