.about {
  padding: 100px 0px;
  display: flex;
}
.about__rest {
  display: flex;
  gap: 50px;
  width: 100%;
  justify-content: space-between;
}
.about__img {
  width: 510px;
  height: 510px;
  background-size: cover;
  background-position: center;
  flex-shrink: 0;
}
.about__concept {
  display: flex;
  flex-direction: column;
  max-width: 584px;
  justify-content: space-between;
  
}
.about__concept-title {
  text-transform: uppercase;
  margin: 0;
}
.about__concept-text {
  line-height: 23px;
}
.concept__button {
  margin: 120px 0 0;
}

@media (max-width: 1200px) {
  .about {
    padding: 50px 0px;
  }
  .about__rest {
    padding: 0 20px;
  }
  .about__img {
    width: 400px;
    height: 460px;
  }
  .about__concept {
    max-width: 510px;
  }
  .concept__button {
    margin-top: 50px;
  }
}
@media (max-width: 968px) {
  
  .about__rest {
    flex-direction: column-reverse;
    align-items: center;
    position: relative;
  }
  .about__concept {
    text-align: center;
  }
  .about__img {
    width: 510px;
    position: relative;
  }
  .concept__button {
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translateX(-50%);
  }

}

@media (max-width: 550px) {
  .about {
    padding: 25px;
  }
}