.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 24px;
}
.section {
  padding: var(--section-padding) 0;
}


@media (max-width: 768px) {
  .container {
    padding: 0 16px;
  }

  :root {
    --section-padding: 50px;
  }
}