.contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contacts__title {
}
.contacts__list {
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact__item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  max-width: 290px;
  font-size: 20px;
  margin: 20px 0;
}
.contact__title {
}
.contact__description {

}
.contact__btn {
  margin-top: 40px;
}

@media(max-width: 658px) { 
  .contacts__title {
  }
  .contacts__list {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
  .contact__item{
    margin: 0;
  }
  .contact__title, .contact__link, .contact__description, .contact__time {
    text-align: center;
  }
  .contact__btn {
    margin-top: 10px;
  }
}